<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="base :: head">
</head>
    <body>
        <nav th:replace="base :: nav"></nav>
        <div class="page-header">
            <h1>Log In</h1>
        </div>
        <form method="post" >
            <div class="form-group">
                <label htmlfor="uname">Username</label>
                <input type="text" name="uname" id="uname"/>
            </div>
            <div class="form-group">
                <label htmlfor="pwd">Password</label>
                <input type="password" name="pwd" id="pwd"/>
            </div>
            <button type="submit" id="login" name="login" class="btn btn-primary">Log In</button>
        </form>
    <button type="button" name="signup" id="signup" class="btn btn"><a href="signup">Sign Up</a></button>
    </body>
<footer th:replace="base :: foot"></footer>
</html>